Repository xugao/office-ui-fabric-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dzearing, @ecraig12345, @xugao, @layershifter, @miroslavstastny, @aftab-hassan, @kolaps33, @jurokapsiar, @assuncaocharles, @pompomon, @chrisdholt, @EisenbergEffect, @nicholasrice, @natalieethell, @Jahnp, @JasonGore, @Vitalius1, @Raghurk, @lorejoh12, @evlevy, @KatherineThayerMicrosoft, @jahnp, @bigbadcapers, @khmakoto, @phkuo, @joschect, @hyoshis, @Jacqueline-ms, @wsmd, @behowell, @leddie24, @micahgodbolt, @yiminwu, @markionium, @mtennoe, @ThomasMichon, @aditima, @atneik, @jdhuntington, @caradong

Add verbose to Use Yarn
  .devops/templates/tools.yml
Owners: none

use react-button in docs
  packages/fluentui/docs/package.json
  packages/fluentui/docs/src/app.tsx
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExample.shorthand.tsx
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExample.tsx
  packages/fluentui/docs/src/examples/components/Button/Types/ButtonExampleEmphasis.tsx
  packages/fluentui/docs/src/examples/components/Button/Types/index.tsx
  scripts/webpack/webpack.config.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @dzearing, @pompomon, @jurokapsiar

cherry-pick: Support themed react-button without ThemeProvider
  apps/vr-tests/src/stories/ThemeProvider.stories.tsx
  packages/react-button/src/components/Button/useButtonClasses.ts
  packages/react-button/src/components/CompoundButton/useCompoundButtonClasses.ts
  packages/react-button/src/components/MenuButton/useMenuButtonClasses.ts
  packages/react-button/src/components/SplitButton/useSplitButtonClasses.tsx
  packages/react-button/src/components/ToggleButton/useToggleButtonClasses.tsx
  packages/react-theme-provider/src/ThemeProvider.test.tsx
  packages/react-theme-provider/src/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react-theme-provider/src/useThemeProviderState.tsx
  packages/theme/etc/theme.api.md
  packages/theme/src/__snapshots__/createTheme.test.ts.snap
  packages/theme/src/__snapshots__/mergeThemes.test.ts.snap
  packages/theme/src/index.ts
  packages/theme/src/mergeThemes.ts
  packages/theme/src/types/Theme.ts
  packages/theme/src/utilities/getTokens.ts
  packages/theme/src/utilities/index.ts
Owners: @dzearing, @khmakoto, @xugao

Change files
  change/@fluentui-react-button-2020-11-20-17-38-53-cherry-pick-button.json
  change/@fluentui-react-theme-provider-2020-11-20-17-38-53-cherry-pick-button.json
  change/@fluentui-theme-2020-11-20-17-38-53-cherry-pick-button.json
Owners: none

add various makeAnimations implementaions
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/makeAnimations.test.tsx
  packages/react-theme-provider/src/makeAnimations.ts
  packages/react-theme-provider/src/makeAnimations2.test.tsx
  packages/react-theme-provider/src/makeAnimations2.ts
  packages/react-theme-provider/src/makeAnimations3.test.tsx
  packages/react-theme-provider/src/makeAnimations3.ts
  packages/react-theme-provider/src/makeAnimations4.test.tsx
  packages/react-theme-provider/src/makeAnimations4.ts
  packages/react-theme-provider/src/styleRenderers/mergeStylesRenderer.tsx
  packages/react-theme-provider/src/styleRenderers/types.ts
Owners: none

try on callout
  packages/react-internal/src/components/Callout/CalloutContent.base.tsx
  packages/theme/etc/theme.api.md
  packages/theme/src/motion/AnimationStylesNext.ts
  packages/theme/src/motion/index.ts
Owners: @joschect, @xugao

Update snapshots
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Basic.Example.tsx.shot
Owners: none

try makeStyles on Checkbox
  apps/vr-tests/src/stories/Checkbox.stories.tsx
  packages/react-checkbox/package.json
  packages/react-checkbox/src/components/Checkbox/Checkbox.base.tsx
  packages/react-checkbox/src/components/Checkbox/Checkbox.styles.ts
  packages/react-checkbox/src/components/Checkbox/Checkbox.tsx
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Indeterminate.Example.tsx.shot
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Other.Example.tsx.shot
Owners: @khmakoto, @xugao

various fixes
  apps/vr-tests/src/stories/Checkbox.stories.tsx
  azure-pipelines.perf-test.yml
  change/@fluentui-make-styles-2020-12-16-15-28-51-makeStyles.json
  change/@fluentui-react-2020-12-15-11-00-50-makeStyles.json
  change/@fluentui-react-checkbox-2020-12-16-15-28-51-makeStyles.json
  packages/make-styles/src/constants.ts
  packages/react-checkbox/src/components/Checkbox/Checkbox.styles.ts
  packages/react-checkbox/src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Basic.Example.tsx.shot
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Indeterminate.Example.tsx.shot
  packages/react-examples/src/react-checkbox/__snapshots__/Checkbox.Other.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Facepile.Basic.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/OverflowSet.Custom.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Compact.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Controlled.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.LimitedSearch.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.List.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.Normal.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.PreselectedItems.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/PeoplePicker.ProcessSelection.Example.tsx.shot
  packages/react-examples/src/react/__snapshots__/Persona.Basic.Example.tsx.shot
  packages/react/src/components/ComboBox/ComboBox.test.tsx
  packages/react/src/components/Dropdown/Dropdown.test.tsx
Owners: @ecraig12345, @khmakoto, @xugao, @joschect

move style resolution to file scope
  packages/react-checkbox/package.json
  packages/react-checkbox/src/components/Checkbox/Checkbox.styles.ts
Owners: @khmakoto, @xugao

merge
  packages/react-checkbox/src/components/Checkbox/Checkbox.styles.ts
Owners: @khmakoto, @xugao

extendable theme prop typing
  packages/react-theme-provider/etc/react-theme-provider.api.md
  packages/react-theme-provider/src/ThemeContext.ts
  packages/react-theme-provider/src/ThemeProvider.types.ts
  packages/react-theme-provider/src/useTheme.ts
Owners: none

add stories for make-styles
  packages/react-examples/.storybook/preview.js
  packages/react-examples/src/make-styles/stories/Perf/Test.stories.tsx
Owners: none

add make-styles story using ribbon example
  packages/react-examples/package.json
  packages/react-examples/src/make-styles/stories/Perf/Test.stories.tsx
Owners: @ecraig12345, @dzearing, @xugao

add other scenarios
  packages/react-examples/src/make-styles/stories/Perf/Test.stories.tsx
Owners: none

Change files
  change/@fluentui-react-avatar-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-button-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-cards-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-flex-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-focus-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-image-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-text-2021-02-01-11-43-52-theme-provider-compat.json
  change/@fluentui-react-theme-provider-2021-02-01-11-43-52-theme-provider-compat.json
Owners: none

add memory test scenarios
  package.json
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatBasicMessages.perf.tsx
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatMinimal.perf.tsx
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithAvatarMessages.perf.tsx
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithBadgeMessages.perf.tsx
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithImportantAndMentionMessages.perf.tsx
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithPopoverAndReactions.perf.tsx
  packages/fluentui/react-northstar-prototypes/src/prototypes/chatMessages/ChatMessageWithPopover/ChatWithPopover.tsx
  scripts/gulp/tasks/perf.ts
Owners: @ecraig12345, @dzearing, @xugao, @assuncaocharles, @layershifter, @miroslavstastny, @pompomon, @jurokapsiar

foundation test
  packages/fluentui/docs/src/examples/components/Chat/Performance/Foundation.perf.tsx
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @dzearing, @pompomon, @jurokapsiar

upgrade electron
  packages/fluentui/docs/src/examples/components/Chat/Performance/ChatWithImportantAndMentionMessages.perf.tsx
  scripts/gulp/tasks/browserAdapters.ts
Owners: @assuncaocharles, @layershifter, @miroslavstastny, @dzearing, @pompomon, @jurokapsiar

test CDP
  apps/perf-test/tasks/perf-test.ts
Owners: @JasonGore, @xugao

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

#### Core build stuff
scripts/ @dzearing @ecraig12345 @xugao
scripts/babel/ @layershifter @miroslavstastny
scripts/gulp/ @layershifter @miroslavstastny
scripts/webpack/ @layershifter @miroslavstastny
scripts/webpack/ @layershifter @miroslavstastny
package.json @ecraig12345 @dzearing @xugao
prettier.config.js @ecraig12345
webpack.config.js @ecraig12345
webpack.serve.config.js @ecraig12345
jest.config.js @ecraig12345
tsconfig.json @ecraig12345
lerna.json @ecraig12345
LICENSE @ecraig12345
azure-pipelines* @ecraig12345
.eslintrc.* @ecraig12345
.npmrc @ecraig12345
.npmignore @ecraig12345
sizeauditor.json @aftab-hassan

#### Fluent UI N*
packages/a11y-rules/ @kolaps33 @jurokapsiar
packages/a11y-testing/ @kolaps33 @jurokapsiar
packages/fluentui/ @assuncaocharles @layershifter @miroslavstastny @dzearing @pompomon @jurokapsiar

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Deprecated API Files
*.api.ts @natalieethell

#### Apps
# component-demo/
public-docsite/ @ecraig12345 @Jahnp
public-docsite-resources/ @ecraig12345
perf-test/ @JasonGore @xugao
# ssr-tests/
# test-bundle-button/ @dzearing
# todo-app/
Controls/web.tsx @Vitalius1 @natalieethell

#### Packages
packages/react-charting/ @Raghurk
packages/react-date-time @lorejoh12 @evlevy @pompomon
packages/date-time-utilities @lorejoh12 @evlevy @pompomon
packages/eslint-plugin/ @ecraig12345
packages/react-docsite-components/ @ecraig12345
packages/file-type-icons/  @KatherineThayerMicrosoft @jahnp @bigbadcapers
packages/foundation-legacy/ @dzearing @khmakoto
# packages/font-icons-mdl2/
# packages/jest-serializer-merge-styles/
packages/merge-styles/ @dzearing
packages/monaco-editor/ @ecraig12345
packages/react-hooks/ @ecraig12345
packages/style-utilities/ @dzearing
packages/style-utilities/src/interfaces/ @phkuo @xugao
packages/style-utilities/src/styles/ @phkuo @xugao
packages/theme/ @xugao
packages/react-monaco-editor/ @ecraig12345
# packages/utilities/
packages/utilities/positioning/ @joschect
packages/azure-themes/ @hyoshis @Jacqueline-ms @wsmd

### Fabric
# common/
packages/common-styles/src/ @phkuo
common/_semanticSlots.scss  @phkuo
common/_themeOverrides.scss @phkuo
common/_common.scss @phkuo

## Component packages
packages/react-button/ @dzearing @khmakoto
packages/react-cards/ @khmakoto
packages/react-checkbox/ @khmakoto @xugao
packages/react-focus/src/components/FocusZone/ @khmakoto
packages/react-link/ @khmakoto
packages/react-slider/ @joschect
packages/react-tabs/ @behowell
packages/react-toggle/ @xugao

## Components
packages/react-internal/src/components/ActivityItem/ @xugao
packages/react-internal/src/components/Announced/ @natalieethell
packages/react/src/components/Breadcrumb/ @xugao
packages/react-internal/src/components/Button/ @khmakoto
packages/react-internal/src/components/Calendar/ @lorejoh12 @pompomon
packages/react-internal/src/components/Callout/ @joschect
packages/react-internal/src/components/Check/ @dzearing @xugao
packages/react-internal/src/components/ChoiceGroup/ @ecraig12345
packages/react-internal/src/components/Coachmark/ @leddie24
packages/react-internal/src/components/ColorPicker/ @ecraig12345
packages/react/src/components/ComboBox/ @joschect
packages/react-internal/src/components/CommandBar/ @micahgodbolt @joschect
packages/react-internal/src/components/ContextualMenu/ @joschect
packages/react-internal/src/components/DatePicker/ @lorejoh12 @pompomon
packages/react/src/components/DetailsList/ @dzearing
packages/react-internal/src/components/Dialog/ @joschect
packages/react/src/components/DocumentCard/ @yiminwu
packages/react/src/components/Dropdown/ @joschect
packages/react-internal/src/components/Fabric/ @dzearing
packages/react-internal/src/components/Facepile/ @markionium @mtennoe
packages/react-internal/src/components/FolderCover/ @ThomasMichon @bigbadcapers
packages/react-internal/src/components/FocusTrapZone/ @khmakoto
packages/react/src/components/GroupedList/  @aditima @dzearing
packages/react-internal/src/components/HoverCard/   @atneik @Jahnp @Vitalius1
packages/react-internal/src/components/Icon/ @dzearing @ecraig12345
packages/react-internal/src/components/Image/ @dzearing
packages/react-internal/src/components/Label/ @khmakoto
packages/react-internal/src/components/Layer/  @ThomasMichon
packages/react-internal/src/components/List/ @dzearing
packages/react-internal/src/components/MarqueeSelection/ @dzearing
packages/react-internal/src/components/MessageBar/ @ecraig12345
packages/react-internal/src/components/Modal/ @joschect
packages/react-internal/src/components/Nav/ @ecraig12345
packages/react-internal/src/components/OverflowSet/ @micahgodbolt
packages/react-internal/src/components/Overlay/ @xugao
packages/react-internal/src/components/Panel/ @xugao
packages/react-internal/src/components/Persona/ @markionium @mtennoe
packages/react-internal/src/components/PersonaCoin/ @mtennoe @markionium
packages/react-internal/src/components/Persona/PersonaConsts.tsx @mtennoe
packages/react-internal/src/components/pickers/  @joschect
packages/react-internal/src/components/Pivot/ @behowell
packages/react-internal/src/components/Popup/ @joschect
packages/react-internal/src/components/ProgressIndicator/ @xugao
packages/react-internal/src/components/Rating/ @jdhuntington
packages/react-internal/src/components/ResizeGroup/ @micahgodbolt
packages/react-internal/src/components/SearchBox/ @ecraig12345
packages/react-internal/src/components/Separator/ @natalieethell
packages/react-internal/src/components/Shimmer/ @Vitalius1 @atneik
packages/react-internal/src/components/SpinButton/ @khmakoto
packages/react-internal/src/components/Spinner/ @xugao
packages/react-internal/src/components/Stack/  @khmakoto
packages/react-internal/src/components/SwatchColorPicker/ @ecraig12345
packages/react-internal/src/components/TeachingBubble/ @micahgodbolt
packages/react-internal/src/components/Text/ @natalieethell
packages/react-internal/src/components/TextField/ @ecraig12345
packages/react-internal/src/components/Tooltip/ @micahgodbolt

## Experiments
packages/react-experiments/src/components/Pagination/ @caradong
packages/react-experiments/src/components/Signals/ @ThomasMichon
packages/react-experiments/src/components/Tile/ @ThomasMichon
packages/react-experiments/src/components/TileList/ @ThomasMichon
packages/react-experiments/src/components/Toggle/ @khmakoto
